{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Dashboard</h1>

    
 {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_logout') }}">Logout </a>
        <a href="{{ path('app_home') }}" class="btn btn-primary">Back to Home</a>

    {% else %}
        <a href="{{ path('app_logout') }}">Logout</a>

    {% endif %}
{% endblock %}