{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header bg-primary text-white">
						<h1>Conditions Générales d'Utilisation</h1>
                        </div>
                <div class="card-body">

						<p>
							On pense à vous.
						</p>

						<h2>1. Introduction</h2>
						<p>
							Les présentes Conditions Générales d'Utilisation régissent votre utilisation de notre site. En utilisant notre site, vous acceptez ces conditions dans leur intégralité. Si vous n'êtes pas d'accord avec ces conditions ou une partie de ces conditions, vous ne devez pas utiliser notre site.
						</p>
						<h2>2. Droits de propriété intellectuelle</h2>
						<p>
							Sauf indication contraire, nous possédons les droits de propriété intellectuelle de notre site et du matériel sur notre site. Tous ces droits de propriété intellectuelle sont réservés.
						</p>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
