<footer class="bg-dark py-md-11 mt-auto mt-5">
	<div class="container">
		<div
			class="row justify-content-center">

			<!-- Links Column -->
			<div class="col-6 col-md-2 col-lg-2 d-flex flex-column align-items-center justify-content-center order-md-1">

				<div class="d-flex align-items-center justify-content-center">
					<a href="/contact" class="text-white mb-4" title="Contact">
						<i class="fas fa-envelope fa-lg"></i>
					</a>

					<a href="/legales" class="text-white mb-4" title="Mentions légales">
						<i class="fas fa-gavel fa-lg"></i>
					</a>

					<a href="/cgu" class="text-white mb-4" title="Conditions générales d'utilisation">
						<i class="fas fa-file-contract fa-lg"></i>
					</a>
				</div>

			</div>

			<!-- Icons Column -->
			<div class="col-6 col-md-2 col-lg-2 d-flex flex-column align-items-center justify-content-center order-md-last">

				<div class="d-flex align-items-center justify-content-center">
					<a href="https://www.linkedin.com" class="text-white mb-4" title="LinkedIn">
						<i class="fab fa-linkedin fa-lg"></i>
					</a>

					<a href="https://www.twitter.com" class="text-white mb-4" title="Twitter">
						<i class="fab fa-twitter fa-lg"></i>
					</a>

					<a href="https://www.instagram.com" class="text-white mb-4" title="Instagram">
						<i class="fab fa-instagram fa-lg"></i>
					</a>
				</div>

			</div>

		</div>

		<!-- Copyright -->
		<div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
			© 2024 Copyright: Perfect Partner by Clément Mazurkiewicz
		</div>

	</div>
</footer>
